<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tutor Connect</title>
        <link href="/Tutor-Connect/inicio/assets/bootstrap-5.3.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Tutor-Connect/inicio/assets/css/estilos.css" rel="stylesheet">
        <link rel="icon" type="x-icon" href="/Tutor-Connect/inicio/assets/images/favicon.ico">
    </head>
    
    <body>
        <footer class="footer">
                <p>2024 Tutor Connect. Todos los derechos reservados.</p>
                <ul>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
        </footer>
    </body>

</html>